body {
  font-family: 'Datamit', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 20px;
  font-weight: 100;
}

* {
  margin: 0;
  padding: 0;
}
.section-footer {
  border-top: 0.2px solid rgba(197, 197, 197, 0.1);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-top: 1px solid rgba(216, 216, 216, 1);
  padding: 30px 7%;
  background: rgba(197, 197, 197, 0.1);
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.route-link {
  text-decoration: none !important;
  color: rgba(60, 60, 60) !important;
}

.copyright {
  border-top: 1px solid rgba(216, 216, 216, 0.8);
  font-size: 14px;
  font-weight: 100;
  color: rgba(60, 60, 60);
  width: 100%;
  padding-top: 1px;
  background-color: rgba(173, 173, 173, 0.1);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 7% !important;
  padding-right: 7% !important;
}
.navigation {
  width: 100%;
  display: flex;
  height: 50px;
  border-bottom: 1px solid rgba(60, 60, 60);
  column-gap: 20px;
  background: rgb(255, 255, 255);
  padding: 10px 7%;
}

.footer-content {
  width: 23%;
  flex-direction: row;
  margin-bottom: 10px !important;
}

.footer-item {
  display: block;
  padding: 0;
  margin-bottom: 7px !important;
  font-size: 14px;
  color: rgb(70, 70, 70);
  font-weight: 200;

  margin-top: 2px;
}

.footer-item a {
  display: block;
  font-size: 16px !important;
  color: rgb(70, 70, 70);
  font-weight: 200;
}

.footer-headline {
  width: 100%;
  margin-top: 7px !important;
  height: 1.5px !important;
  display: block !important;
  background-color: rgba(197, 197, 197);
}

@media (max-width: 768px) {
  .footer-item,
  .footer-item a {
    font-size: 14.4px !important; /* 16px * 1.4 */
  }

  .footer-title {
    font-size: 16.2px !important; /* 18px * 1.4 */
  }
  .copyright {
    font-size: 10px !important;
    font-weight: 100 !important;
  }
  .footer-content {
    width: 100% !important;
    margin-bottom: 12px !important;
  }
}

.footer-item a {
  display: block;
  font-size: 16px;
  color: rgb(70, 70, 70);
  font-weight: 200;
}
.footer-title {
  font-size: 16px;
  color: black;
  font-weight: 200;
}

a {
  text-decoration: none;
}

.nav-item {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-item span {
  display: block;
  margin-top: 10px;
}
